.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
    width: 100vw; /* Largura total da viewport */
    background-size: cover;
    background: #000000 url(images/star-wars-disney.gif) no-repeat fixed center center;
}

.loading-text {
    font-size: 22px; /* Tamanho da fonte */
    color: #F2F2F2; /* Cor do texto */
    margin-top: 80px; /* Espaçamento abaixo do texto */
    margin-bottom: 10px; /* Espaçamento abaixo do texto */
    margin-left: 5px;
}

.loading-bar {
    width: 80%; /* Largura da barra de carregamento */
    height: 40px; /* Altura da barra de carregamento */
    background-color: #F2F2F2; /* Cor da barra de carregamento */
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}