<div class="loader-container">
    <span class="loader_wrapper">
        <img src="images/windows11/dueling_lightsabers_blue.png" class="loader" />
        <span class="text">@Text</span>
    </span>
</div>

@code {

    [Parameter]
    public string Text { get; set; } = "Loading";

}