<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-left col-md-4">
                © 2024 My the fourth - Frontend
            </div>

            <div class="footer-mid col-md-4 text-center d-none d-sm-block">
                Blazor WASM
            </div>

            <div class="footer-right col-md-4 d-none d-sm-block" style="margin-top: -10px;">
                <ul class="nav">
                    <li class="nav-item"><a href="https://github.com/paulinhps" class="nav-link px-2 text-muted">Paulinho</a>
                    </li>
                    <li class="nav-item"><a href="https://github.com/Allandeba"
                                            class="nav-link px-2 text-muted">Allan</a></li>
                    <li class="nav-item"><a href="https://github.com/alex-marafon"
                                            class="nav-link px-2 text-muted">Alex</a></li>
                    <li class="nav-item"><a href="https://github.com/thiagokj"
                                            class="nav-link px-2 text-muted">Thiago</a></li>
                    <li class="nav-item"><a href="https://github.com/vitorrenno"
                                            class="nav-link px-2 text-muted">Vitor</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>