@inherits LayoutComponentBase

<div class="wrapper">
    <div class="container-fluid">
        <Navbar/>
        
        <main class="col-sm min-h-100">
            <article class="container-fluid d-flex flex-column px-2 gap-2 pb-2">
                @* TODO: Fazer os breadcrumb de cada tela  *@
                <nav class="breadcrumb breadcrumb d-none d-lg-flex m-0 p-2">
                    <a class="breadcrumb-item" href="#">Main</a>
                    <a class="breadcrumb-item" href="#">Sub</a>
                    <span class="breadcrumb-item active" aria-current="page">Active</span>
                </nav>

                <div class="row container justify-content-center py-4">
                    @Body
                </div>

            </article>
        </main>

        <Footer/>            
    </div>
</div>

<div class="stars"></div>