@using MyTheFourth.Frontend.Layout.Navigation
@inherits LayoutComponentBase

<div class="wrapper">
    <div class="container-fluid flex-grow-1 flex-col min-h-screen">
        <Navbar/>
        
        <main class="col-sm flex">
            <article class="container-fluid d-flex flex-column px-2 gap-2 pb-2">
                <MainBreadcrumb/>

                <div class="row container-fluid justify-content-center py-4">
                    @Body
                </div>
            </article>
        </main>
    </div>
    
    <Footer/>
</div>

<div class="stars"></div>

<Toasts class="p-3" AutoHide="true" Delay="5000" Placement="ToastsPlacement.TopRight"/>