@page "/credits"
@layout CreditsLayout

@attribute [StreamRendering]

<section class="star-wars">
    <div class="crawl">
        <div class="title">
            <p>Star Wars:</p>
            <h1>Uma aventura Star Quack no universo do Frontend</h1>
        </div>
        
        <p class="history">
            Nosso batalhão luta bravamente a guerra pela unificação do
            Frontend com o Backend. 🦆🪖
        </p>

        <p class="history">
            O maior inimigo declarado de todos: A Nuvem... ☁️💣
        </p>
        
        <p class="history">
            A Nuvem que oculta a Estrela da Morte, suas complexas configurações...
        </p>  
        
        <p class="history">
            e custos também... 🤑😂
        </p>   
        
        <p class="history">
            Até dia 1º de maio vamos vencer, e pra isso, contamos com você nessa jornada!
        </p>

        <p class="history">
            Paulo, Alex, Allan, Thiago, Vitor e a força estão do nosso lado... 🌟🦾
        </p>
        
        <p class="history">
            Estamos juntos em busca do Fullstack usando Blazor! 🤓👆
        </p>  
        
        <p class="history">
            Acesse a documentação do projeto
            <a href="https://github.com/paulinhps/desafio-balta-may-the-fourth-frontend"
               target="_blank"> AQUI
            </a>. 📄
        </p>
    </div>
</section>