@using MyTheFourth.Frontend.Components.ToggleTheme

<li class="nav-item d-flex justify-content-center align-items-center">
    <ToggleTheme />
</li>

<li class="nav-item">
    <NavLink href="/" Match="NavLinkMatch.All" class="nav-link py-3 px-4" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
        <span class="bi bi-house-door-fill fs-4" aria-hidden="true"></span>
    </NavLink>
</li>

<li class="nav-item">
    <NavLink href="starships" class="nav-link py-3 px-4" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Starship">
        <span class="bi bi-rocket-takeoff-fill fs-4" aria-hidden="true"></span>
    </NavLink>
</li>

<li class="nav-item">
    <NavLink href="vehicles" class="nav-link py-3 px-4" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Vehicles">
        <span class="bi bi-scooter fs-4" aria-hidden="true"></span>
    </NavLink>
</li>

<li class="nav-item">
    <NavLink href="movies" class="nav-link py-3 px-4" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Movies">
        <span class="bi bi-camera-reels-fill fs-4" aria-hidden="true"></span>
    </NavLink>
</li>

<li class="nav-item">
    <NavLink href="characters" class="nav-link py-3 px-4" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Characters">
        <span class="bi bi-file-earmark-person-fill fs-4" aria-hidden="true"></span>
    </NavLink>
</li>

<li class="nav-item">
    <NavLink href="planets" class="nav-link py-3 px-4" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Planets">
        <span class="bi bi-map-fill fs-4" aria-hidden="true"></span>
    </NavLink>
</li>